* {
      box-sizing: border-box;
      font-family: "Times New Roman", serif;
    }

    body {
      background: #350909;
      margin: 0;
      padding: 20px;
    }

    .container {
      max-width: 900px;
      margin: auto;
      background: #746d6d;
      border: 2px solid red;
      padding-bottom: 30px;
    }

    /* Header */
    .header {
      background: black;
      color: yellow;
      text-align: center;
      padding: 15px;
      font-weight: bold;
      font-size: 20px;
      border-radius: 20px;
      margin: 15px;
    }

    .date {
      text-align: center;
      font-size: 12px;
      margin-top: -10px;
      color: #555;
    }

    /* Section title */
    .section-title {
      font-size: 24px;
      font-weight: bold;
      margin: 30px 20px 10px;
      border-bottom: 2px solid #000;
      padding-bottom: 5px;
    }

    .red-bar {
      background: red;
      height: 30px;
      margin: 15px 0;
      color: white;
      padding-left: 10px;
      display: flex;
      align-items: center;
      font-weight: bold;
    }

    /* Program blocks */
    .program {
      text-align: center;
      margin-top: 30px;
    }

    .program h2 {
      margin: 0;
      font-size: 22px;
    }

    .program h3 {
      margin: 5px 0 15px;
      font-size: 16px;
      font-weight: normal;
    }

    textarea {
      width: 80%;
      height: 160px;
      resize: none;
      padding: 10px;
      font-family: monospace;
      font-size: 13px;
      border-radius: 25px;
    }

    .copy-btn {
      margin-top: 8px;
      background: #4f6df5;
      color: rgb(0, 0, 0);
      border: none;
      padding: 10px 16px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 13px;
    }

    .copy-btn:hover {
      background: #394fd8;
    }

    hr {
      width: 90%;
      margin: 30px auto;
    }


    .copy-btn {
  background: linear-gradient(135deg, #6a5cff, #8f6bff);
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.copy-btn.copied {
  background: linear-gradient(135deg, #22c55e, #16a34a);
  box-shadow: 0 0 12px rgba(34,197,94,0.6);
}

.copy-btn:active {
  transform: scale(0.95);
}

footer {
  text-align: center;
  font-size: 12px;
  color: #ccc;
  margin-top: 20px;
}
